<div class="container">
  <h2>{{ isEdit ? 'Edit' : 'Create' }} News</h2>
  <form (ngSubmit)="onSubmit()">
    <div>
      <label>Title:&nbsp;</label>
      <input
        aria-label="post-title"
        [(ngModel)]="newsData.title"
        name="title"
        required
        #title="ngModel"
      />
      <div *ngIf="title.invalid && title.touched" class="text-error">
        Title is required
      </div>
    </div>

    <br />

    <div>
      <label>Body:</label>
      
      <br />

      <textarea
        aria-label="Post body"
        [(ngModel)]="newsData.body"
        name="body"
        required
        minlength="20"
        #body="ngModel"
      ></textarea>
      <div
        *ngIf="body.errors?.['minlength'] && body.touched"
        class="text-error"
      >
        Must be at least 20 chars
      </div>
    </div>

    <button type="submit" [disabled]="title.invalid || body.invalid">
      Submit
    </button>
  </form>
</div>
