.news-item-container {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 50px;
}
.news-item {
  background-color: #f5f5f5;
  border-radius: 10px;
  border: 1px solid black;
  margin: 10px 0;
  padding: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.actions a,
.actions button {
  margin-right: 10px;
}

.text-center {
  text-align: center;
}

.search-container {
  display: flex;
  justify-content: center;

  input {
    font-size: 16px;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  button {
    margin: 0 5px;
  }
}